  <footer id="footer">
    <nav>
      <ul>
        <li>
            <a href="https://www.freexian.com">Company</a>
        </li>
        <li>
	    <a href="https://salsa.debian.org/freexian-team/project-funding">Propose a Project</a>
        </li>
        <li>
	    <a href="{{.Site.BaseURL}}/projects/">Project Status</a>
        </li>
      </ul>
    </nav>
    <p>&copy; 2021 Freexian SARL</p>
  </footer>
